header{
    width: 108%;
    height: 60px;
    background-color: #17272F;
    margin-top: -8px;
    margin-left: -8px;
    margin-right:-8px ;
    font-size: 40px;
    margin-bottom: 20px;
}
.avatar {
    width: 70px;
    height: 70px;
    border-radius: 60%;
    position: absolute;
    top: 0px;
    left: 5px;
    
  }
header a{
    color: #fff;
    padding-left: 40%;
}

body{
    
}

table {
    width: 100%;
    border: 1px solid #999;
    text-align: left;
    border-collapse: collapse;
    margin: 0 0 1em 0;
    caption-side: top;
 }
 caption, td, th {
    padding: 0.3em;
 }
 th, td {
    border-bottom: 1px solid #999;
    width: 25%;
 }
 caption {
    font-weight: bold;
    font-style: italic;
 }